<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>About</h2>
			<hr>
			<p>fuck fuck fuck <a href="#">fuckity </a>fuck fuck youse</p>
		</div>
		<div class="col-2 homepage_content">
			<h2>Stuff I've Written</h2>
			<hr>
			<h3>The Do List</h3>
			<p class="date">Friday April 19th</p>
			<h3>The Do List</h3>
			<p class="date">Friday April 19th</p>
			<h3>The Do List</h3>
			<p class="date">Friday April 19th</p>
		</div>
		<div class="col-3 homepage_content">
			<h2>Stuff I've Built</h2>
			<hr>
			<h3><a href="#">Unicasts</a></h3>
		</div>
	</div>

	<footer id="main_footer">
		<p class="copyright">&copy;2015 Michael Foody</p>
		<nav>
			<a href="#"><i class="fa fa-twitter"></i>
	</a>
			<a href="#"><i class="fa fa-dribbble"></i>
</a>
			<a href="#"><i class="fa fa-github"></i>
</a>
		</nav>
	</footer>